
<!-- Latest Posts Widget -->
<div class="latest-posts-widget mb-50">

    <!-- Single Featured Post -->
    <%- include('singlefeaturedpost.ejs') %>
</div>

<!-- Popular News Widget -->
<div class="popular-news-widget mb-50">
    <h3>4 Most Popular News</h3>

    <!-- Single Popular Blog -->
    <% popularStoriesInfo.forEach((popularStoryInfo, index) => { %>
		<!-- Single Popular Blog -->
			<div class="single-popular-post">
				<a href="#">
					<h6><span><%= index+1 %></span><%= popularStoryInfo.article_title %></h6>
				</a>
				<% let now = new Date(popularStoryInfo.article_postdate); %>
				<% let formattedDate = dateAndTime.format(now,'h:mm A D. MMMM'); %>
				<p class="post-date"><%= formattedDate %></p>
			</div>
		<% }) %> 

</div>

<!-- Newsletter Widget -->
<div class="newsletter-widget mb-50">
    <h4>Newsletter</h4>
    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <form action="#" method="post">
        <input type="text" name="text" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <button type="submit" class="btn w-100">Subscribe</button>
    </form>
</div>

<!-- Latest Comments Widget -->
<div class="latest-comments-widget">
    <h3>Latest Comments</h3>

    <!-- Single Comments -->
    <% comments.forEach(comment=>{%>
        <div class="single-comments d-flex">
            <div class="comments-thumbnail mr-15">
                <img src="/img/bg-img/<%= comment.user_image%>" alt="">
            </div>
            <div class="comments-text">
                <a href="#"><%= comment.user_name%> <span> - </span><%= comment.comment_text%> </a>
                <% let now = new Date(comment.comment_postdate); %>
				<% let formattedDate = dateAndTime.format(now,'h:mm A MMMM D, YYYY'); %>
                <p class="post-date"><%= formattedDate %></p>
            </div>
        </div>
    <% }) %> 
</div>