
<!-- Single Featured Post -->
<div class="single-blog-post featured-post single-post">
    <div class="post-thumb">
        <a href="#"><img src="/img/bg-img/<%= article.article_image %>" alt=""></a>
    </div>
    <div class="post-data">
        <a href="#" class="post-catagory"><%= article.category_title %></a>
        <a href="#" class="post-title">
            <h6><%= article.article_title %></h6>
        </a>
        <div class="post-meta">
            <p class="post-author">By <a href="#"><%= article.author_name %></a></p>
            
            <p><%= article.article_text %></p>
            <div class="newspaper-post-like d-flex align-items-center justify-content-between">
                <!-- Tags -->
                <div class="newspaper-tags d-flex">
                    <span>Tags:</span>
                    <ul class="d-flex">
                        <li><a href="#"><%= article.article_tags %></a></li>
                    </ul>
                </div>

                <!-- Post Like & Post Comment -->
                <div class="d-flex align-items-center post-like--comments">
                    <a href="#" class="post-like"><img src="/img/core-img/like.png" alt=""> <span><%= article.article_likes %></span></a>
                    <a href="#" class="post-comment"><img src="/img/core-img/chat.png" alt=""> <span>10</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Author -->
<div class="blog-post-author d-flex">
    <div class="author-thumbnail">
        <img src="/img/bg-img/<%= article.author_image   %>" alt="">
    </div>
    <div class="author-info">
        <a href="#" class="author-name"><%= article.author_name %>, <span>The Author</span></a>
        <p><%= article.author_description %></p>
    </div>
</div>

<div class="pager d-flex align-items-center justify-content-between">
    <div class="prev">
        <a href="#" class="active"><i class="fa fa-angle-left"></i> previous</a>
    </div>
    <div class="next">
        <a href="#">Next <i class="fa fa-angle-right"></i></a>
    </div>
</div>

<div class="section-heading">
    <h6>Related</h6>
</div>

<div class="row">
    <!-- Single Post -->
    <div class="col-12 col-md-6">
        <div class="single-blog-post style-3 mb-80">
            <div class="post-thumb">
                <a href="#"><img src="/img/bg-img/12.jpg" alt=""></a>
            </div>
            <div class="post-data">
                <a href="#" class="post-catagory">Finance</a>
                <a href="#" class="post-title">
                    <h6>Dolor sit amet, consectetur adipiscing elit. Nam eu metus sit amet odio sodales placer. Sed varius leo ac...</h6>
                </a>
                <div class="post-meta d-flex align-items-center">
                    <a href="#" class="post-like"><img src="/img/core-img/like.png" alt=""> <span>392</span></a>
                    <a href="#" class="post-comment"><img src="/img/core-img/chat.png" alt=""> <span>10</span></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Single Post -->
    <div class="col-12 col-md-6">
        <div class="single-blog-post style-3 mb-80">
            <div class="post-thumb">
                <a href="#"><img src="/img/bg-img/13.jpg" alt=""></a>
            </div>
            <div class="post-data">
                <a href="#" class="post-catagory">Finance</a>
                <a href="#" class="post-title">
                    <h6>Dolor sit amet, consectetur adipiscing elit. Nam eu metus sit amet odio sodales placer. Sed varius leo ac...</h6>
                </a>
                <div class="post-meta d-flex align-items-center">
                    <a href="#" class="post-like"><img src="/img/core-img/like.png" alt=""> <span>392</span></a>
                    <a href="#" class="post-comment"><img src="/img/core-img/chat.png" alt=""> <span>10</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Comment Area Start -->
<div class="comment_area clearfix">
    <h5 class="title">3 Comments</h5>

    <ol>
        <!-- Single Comment Area -->
        <li class="single_comment_area">
            <!-- Comment Content -->
            <div class="comment-content d-flex">
                <!-- Comment Author -->
                <div class="comment-author">
                    <img src="/img/bg-img/30.jpg" alt="author">
                </div>
                <!-- Comment Meta -->
                <div class="comment-meta">
                    <a href="#" class="post-author"></a>
                    <% let oldDate = new Date(dateTest4); %>
                    <% let formattedDate4 = dateAndTime.format(oldDate,'MMM D, YYYY'); %>
                    <a href="#" class="post-date"><%= formattedDate4 %></a>
                    <p></p>
                </div>
            </div>
            <ol class="children">
                <li class="single_comment_area">
                    <!-- Comment Content -->
                    <div class="comment-content d-flex">
                        <!-- Comment Author -->
                        <div class="comment-author">
                            <img src="/img/bg-img/32.jpg" alt="author">
                        </div>
                        <!-- Comment Meta -->
                        <div class="comment-meta">
                            <a href="#" class="post-author">Christian Williams</a>
                            <a href="#" class="post-date"><%= formattedDate4 %></a>
                            <p></p>
                        </div>
                    </div>
                </li>
            </ol>
        </li>

        <!-- Single Comment Area -->
        <li class="single_comment_area">
            <!-- Comment Content -->
            <div class="comment-content d-flex">
                <!-- Comment Author -->
                <div class="comment-author">
                    <img src="/img/bg-img/31.jpg" alt="author">
                </div>
                <!-- Comment Meta -->
                <div class="comment-meta">
                    <a href="#" class="post-author">Sandy Doe</a>
                    <% let oldOldDate = new Date(dateTest5); %>
                    <% let formattedDate5 = dateAndTime.format(oldOldDate,'MMM D, YYYY'); %>
                    <a href="#" class="post-date"><%= formattedDate5 %></a>
                    <p>Who else is still reading this in 2019?</p>
                </div>
            </div>
        </li>
    </ol>
</div>

<div class="post-a-comment-area section-padding-80-0">
    <h4>Leave a comment</h4>
    
    <!-- Reply Form -->
    <div class="contact-form-area">
        <form action="#" method="post">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <input type="text" class="form-control" id="name" placeholder="Name*">
                </div>
                <div class="col-12 col-lg-6">
                    <input type="email" class="form-control" id="email" placeholder="Email*">
                </div>
                <div class="col-12">
                    <input type="text" class="form-control" id="subject" placeholder="Website">
                </div>
                <div class="col-12">
                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                </div>
                <div class="col-12 text-center">
                    <button class="btn newspaper-btn mt-30 w-100" type="submit">Submit Comment</button>
                </div>
            </div>
        </form>
    </div>
</div>