<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>The News Paper - News &amp; Lifestyle Magazine Template</title>

    <!-- Favicon -->
    <%- include('partials/favicon.ejs') %>

    <!-- Core Stylesheet -->
    <%- include('partials/style.ejs') %>

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
		<%- include('partials/header.ejs') %>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <%- include('partials/heroarea.ejs') %>
    </div>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-0-80">
		<%- include('partials/blogareacontainer.ejs') %>
	</div>
    <!-- ##### Blog Area End ##### -->
    
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
		<%- include('partials/footerarea.ejs') %>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <%- include('partials/scripts.ejs') %>
</body>

</html>