<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>The News Paper - News & Lifestyle Magazine Template</title>
    
    <!-- Favicon -->
    <%- include('partials/favicon.ejs') %>

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <%- include('partials/header.ejs') %>
    </header>
    <!-- ##### Header Area End ##### -->
    
    <% latestProducts.forEach(product =>{%>
        <div class="product">
            <h2><%= product.name %></h2>
            <p><%= product.price %> kr.</p>
        </div>
    <% }) %>
    


    <div class="date_tester">
        <h1>
            <% let now = new Date(dateTest); %>
            <% let formattedDate = dateAndTime.format(now,'h:mm A D. MMM'); %>
            <p><%= formattedDate %></p>
        </h1>
    </div>



    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <%- include('partials/heroarea.ejs') %>
    </div>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Featured Post Area Start ##### -->
    <div class="featured-post-area">
        <%- include('partials/featuredpostareacontainer.ejs') %>
    </div>
    <!-- ##### Featured Post Area End ##### -->

    <!-- ##### Popular News Area Start ##### -->
    <div class="popular-news-area section-padding-80-50">
        <%- include('partials/popularnewsareacontainer.ejs') %>
    </div>
    <!-- ##### Popular News Area End ##### -->

    <!-- ##### Video Post Area Start ##### -->
    <div class="video-post-area bg-img bg-overlay" style="background-image: url(img/bg-img/bg1.jpg);">
        <%- include('partials/videopostarea.ejs') %>
    </div>
    <!-- ##### Video Post Area End ##### -->

    <!-- ##### Editorial Post Area Start ##### -->
    <div class="editors-pick-post-area section-padding-80-50">
        
    </div>
    <!-- ##### Editorial Post Area End ##### -->

    <!-- ##### Footer Add Area Start ##### -->
    <div class="footer-add-area">
        <%- include('partials/footeraddarea.ejs') %>
    </div>
    <!-- ##### Footer Add Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <%- include('partials/footerarea.ejs') %>
        <!-- Main Footer Area -->
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>
</html>